<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the LMSR Market</h1>
            <p class="lead">A place to make predictions and trade shares.</p>
            <hr class="my-4">
            <p>Please choose an option to get started.</p>
            <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'login' %}'" onKeyPress="location.href='{% url 'login' %}'">Login</button>
            <button class="btn btn-secondary btn-lg" onclick="location.href='{% url 'signup' %}'" onKeyPress="location.href='{% url 'signup' %}'">Sign Up</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>