{% extends 'base.html' %}

{% block title %}Sell Shares{% endblock %}

{% block content %}
<h2>Sell Shares</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="outcome">Outcome</label>
        <select name="outcome" class="form-control" id="outcome">
            {% for outcome in market.q.keys %}
                <option value="{{ outcome }}">{{ outcome }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="shares">Shares</label>
        <input type="number" name="shares" class="form-control" id="shares">
    </div>
    <button type="submit" class="btn btn-primary">Sell Shares</button>
</form>
{% endblock %}
